
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.row img {
    margin-top: 80px;
    position: relative;
}

.right-text {
    position: relative;
    margin-top: 100px;
}

.right-text h5 {
    color: #A9732A;
    margin-bottom: -20px;
}

.right-text h1 {
    font-size: 50px;
    color: #006843;
}

.form-row p {
    margin-top: 20px;
    color: #00D273;
}

form p.leg {
    float: right;
    margin-top: 15px;
}

form a{
    color: #00D273;
}

.form-control {
    background-color: #FFFFFF;
    border: 1px solid #00D273;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #A9732A;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
}

.btn2 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #006843;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
}

.btn1:hover {
    background-color: #FFFFFF;
    border: 2px solid #A9732A;
    color: #A9732A;
}
